name: flutter_widgets_explorer
description: Flutter Widgets Explorer project.

publish_to: "none"

version: 0.4.0

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_modular: ^3.0.2+1
  responsive_builder: ^0.4.1
  charts_flutter: ^0.10.0
  flutter_syntax_view: ^3.2.2
  animate_icons: ^1.0.0
  url_launcher: ^6.0.3
  flutter_markdown: ^0.6.0
  shimmer: ^1.1.2
  package_info_plus: ^1.0.0
  pubspec_parse: ^1.0.0
  nested_list:
    path: nested_list
  tab_buttons:
    path: tab_buttons
  stock_chart:
    path: stock_chart  
  source_code_view:
    path: source_code_view
  showcase_view:
    path: showcase_view
  material_design_showcase:
    path: material_design_showcase
  chart_data_table:
    path: chart_data_table    

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.9.0
  flutter_native_splash: ^1.0.1
  module_starter:
    path: module_starter

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "dev_assets/images/icon_white_bg.png"

flutter_native_splash:
  color: "#ffffff"
  image: dev_assets/images/icon_white_bg.png
  color_dark: "#000000"
  image_dark: dev_assets/images/icon_black_bg.png
  fullscreen: true

flutter:
  uses-material-design: true
  assets:
    - assets/stock_chart/depth.json
    - assets/shimmer/images/chevron_right.png
    - assets/shimmer/images/background.jpg
    - assets/about/images/logo_bright.png

scripts:
  record: adb shell screenrecord --size 324x576 /sdcard/recording.mp4
  pull_recording: adb pull /sdcard/recording.mp4
  convert_mp4_to_gif: ./gifify.sh recording.mp4

