name: flutter_widgets_explorer
description: Flutter Widgets Explorer - Learn and showcase your Flutter Widgets in one application.

publish_to: "none"

version: 0.5.0

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_modular: ^3.0.2+1
  responsive_builder: ^0.4.1
  url_strategy: ^0.2.0
  nested_list:
    path: nested_list
  tab_buttons:
    path: tab_buttons
  stock_chart:
    path: stock_chart  
  source_code_view:
    path: source_code_view
  showcase_view:
    path: showcase_view
  material_design_showcase:
    path: material_design_showcase
  about_dialog:
    path: about_dialog
  animated_icons:
    path: animated_icons    
  chart_data_table:
    path: chart_data_table    
  shimmer_effect:
    path: shimmer_effect
  expansion_collapse_view:
    path: expansion_collapse_view   
  markdown_view:
    path: markdown_view
  url_launcher_showcase:
    path: url_launcher_showcase    
  syntax_view:
    path: syntax_view    
  charts_gallery:
    path: charts_gallery
  percent_indicator_showcase:
    path: percent_indicator_showcase  

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.9.0
  flutter_native_splash: ^1.0.1
  module_starter:
    path: module_starter

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "dev_assets/images/icon_white_bg.png"

flutter_native_splash:
  color: "#ffffff"
  image: dev_assets/images/icon_white_bg.png
  color_dark: "#000000"
  image_dark: dev_assets/images/icon_black_bg.png
  fullscreen: true

flutter:
  uses-material-design: true

scripts:
  record: adb shell screenrecord --size 324x576 /sdcard/recording.mp4
  pull_recording: adb pull /sdcard/recording.mp4
  convert_mp4_to_gif: ./gifify.sh recording.mp4

